Q1. Create one variable containing following type of data: 
(1) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="gayatri"
print(a)

gayatri

In [2]:
a=[1,2,3,4,5,6]
print(a)

[1, 2, 3, 4, 5, 6]

In [3]:
a=9.0
print(a)

9.0

In [6]:
a=(1,4,5,"gayatri")
print(a)

(1, 4, 5, 'gayatri')

Q2. Given are some following variables containing data:

(i)   var1 ='' 
(ii)  var2 = '[DS, ML, Python] 
(iii) var3 = [ 'DS', 'ML', 'Python' ]
(iv)  var4 = 1.

In [16]:
var1=''

In [23]:
type(var1)

str

In [ ]:
var2 = '[DS, ML, Python]'

In [24]:
type(var2)

str

In [27]:
var3 = ['DS','ML','Python']

In [28]:
type(var3)

list

In [34]:
var4 = 1.

In [35]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

i) /  
ii) %
iii)//
iv)**

i) /  
this division operator

In [36]:
3/8

0.375

ii) %
this is moduls operator it useing where print remainder

In [40]:
11%2

1

iii)//
floor division operator it use absoulte division

In [41]:
2//3

0

iv)**
exponential operator it used for print square or cube of number

In [42]:
a=5**2

In [43]:
print(a)

25

In [55]:
a=5**3

print(a)

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [48]:
a=['gayatri','anand',90,9.0,66,78, True ,]
for data in a :
  print(data ,type(data))

gayatri <class 'str'>
anand <class 'str'>
90 <class 'int'>
9.0 <class 'float'>
66 <class 'int'>
78 <class 'int'>
True <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

if A % B == 0:
    count = A // B  
    print(B, "can divide", A , "," , count, " times.")
else:
    print(B, "can't divide", A, "purely.")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [50]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in a :
    if i%3==0:
        print("element is divisible by 3")
    else:
        print("element is not divisible by 3")

element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3
element is not divisible by 3
element is divisible by 3
element is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

mutabl: allows you to modify its internal state after creation.
example :list ,set

In [51]:
a=[7,8,9,6,4]
a.append(2)
print(a)

[7, 8, 9, 6, 4, 2]

In [54]:
a={1,2,34,5}
a.add(6)
print(a)

{1, 2, 34, 5, 6}

immutable :if you can’t change the object’s state after you’ve created it.
example :tuple

In [ ]:
a=(1,2,3,45)

In [ ]:
a=10